<section id="exibePedidos">
    <h2>Exibindo pedidos</h2>
    <hr>

    <div class="pedidos">
        {{#each posts}}
        <ul>
            <h3><strong>Cliente: </strong>({{dataValues.id}}) - {{dataValues.cliente}} - <strong>Telefone: </strong>
                {{dataValues.telefone}} - <strong>Tipo de
                    Pagamento:</strong> {{dataValues.tipoPagamento}}</h3>
            </li>
        </ul>

    </div>
    <div class="btnPedidos">
        <ul>
            <li>
                <a href="/pedido/{{dataValues.id}}">
                    <button class="btn btn-success">Pedido:{{dataValues.id}}</button>
                </a>
            </li>
            <li>
                <a href=""><button class="btn btn-warning">Editar</button></a>
            </li>
            <li>
                <a href="/delete/{{dataValues.id}}"><button type="submit" class="btn btn-danger">Deletar</button></a>
            </li>
        </ul>
        <hr>
        {{/each}}
    </div>

</section>